* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiDataGrid-colCellWrapper {
  background-color: rgba(128, 128, 128, 0.123);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
